/* Estilos para cards */
.card-img-top {
    width: 20px;
    display: flex;
    padding: 20px;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
/* Remove o sublinhado dos links dentro dos cards */
.card a {
    text-decoration: none !important;
}

.card a:hover {
    text-decoration: none;
    color: inherit;
    html, body {
      height: 100%;
      margin: 0;
      display: flex;
      flex-direction: column;  /* Organiza o conteúdo da página em uma coluna */
  }
  
  /* Conteúdo da página */
  .content {
      flex: 1;  /* O conteúdo vai preencher todo o espaço disponível, empurrando o footer para o final */
  }
  
