/* Estilos para cards */
.card-img-top {
    width: 20px;
    display: flex;
    padding: 20px;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
/* Remove o sublinhado dos links dentro dos cards */
.card a {
    text-decoration: none !important;
}

.card a:hover {
    text-decoration: none;
    color: inherit;
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer {
    width: 100%;
    background-color: #76453B;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: auto; /* Garante que o footer vá para o final da tela */
}
.container {
  margin-bottom: 100px; 
}