body, h1, h2,  ul, li, a {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  background-color: #f5f5f5;
  color: #76453B;
  
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #76453B;
  color: #f3eeec;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  z-index: 10;
}


.navbar .brand {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  justify-content: center;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  justify-content: center;
  color: #fff;
}

.nav-links a {
  color: #ffffff;
  text-decoration: none;
}

.nav-links a:hover {
  text-decoration: underline;
}



.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 10px;
  color: #76453B;
  display: flex;
}

.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #76453B;
  justify-content: center;
  display: flex;
}

.hero-content .btn {
  background-color: #76453B;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 1.2rem;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}

.hero-content .btn:hover {
  background-color: #76453B;
}

section {
  padding: 50px 20px;
}

section h2 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
}

.container {
  max-width: px;
  margin: auto;
  text-align: right;
  
}

.card-img-top {
  width: 20px;
  display:flex;
  padding: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  text-align: center;
}

.grid-item {
  background: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.grid-item h3 {
  margin-bottom: 10px;
}

/* Formulário */
form {
  max-width: 600px;
  margin: 0 auto;
}

form label {
  display: block;
  margin-bottom: 5px;
}

form input, form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button {
  width: 100%;
  padding: 10px;
  background-color: #009688;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  background-color: #00796b;
}

.navbar-expand-lg .navbar-collapse {
  display: flex !important;
  flex-basis: auto;
  justify-content: center;
}
a.navbar-brand{
color: #fff;

}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color: rgb(255 255 255);
}


.carousel-inner img {
  max-height: 500px;
  object-fit: cover;
}

.card {
  max-width: 300px; /* Define a largura máxima de cada card */
  margin: 0 auto; /* Centraliza o card */
}